<div class="page-container">
  <app-navbar></app-navbar>
  <div class="content">
    <h2>Listado de Rutas</h2>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Estado</th>
          <th>Hora</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ruta of rutas">
          <td>{{ ruta.id }}</td>
          <td>{{ ruta.nombre }}</td>
          <td>{{ ruta.estado }}</td>
          <td>{{ ruta.hora }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
