<nav class="sidebar">
  <div class="logo-section">
    <i class="bi bi-trash3-fill logo"></i>
    <h1>Recolección</h1>
  </div>

  <ul class="menu">
    <li routerLink="/rutas" routerLinkActive="active">
      <i class="bi bi-geo-alt"></i> Rutas
    </li>
    <li routerLink="/vehiculos" routerLinkActive="active">
      <i class="bi bi-truck"></i> Vehículos
    </li>
    <li routerLink="/notificaciones" routerLinkActive="active">
      <i class="bi bi-bell"></i> Notificaciones
    </li>
    <li routerLink="/usuarios" routerLinkActive="active">
      <i class="bi bi-person"></i> Usuarios
    </li>
  </ul>
</nav>
