<div class="layout">
  <!-- Sidebar -->
  <app-sidebar></app-sidebar>

  <!-- Contenido principal -->
  <div class="main">
    <app-navbar></app-navbar>

    <div class="dashboard">
      <div class="map-card">
        <img src="assets/mapa.png" alt="Mapa de recolección" />
      </div>

      <div class="info-section">
        <div class="info-card">
          <h2>Barrio Santiago</h2>
          <div class="info-item">
            <i class="bi bi-truck"></i>
            <span>En camino</span>
          </div>
          <div class="info-item">
            <i class="bi bi-clock"></i>
            <span>Próxima recolección <strong>8:00 AM</strong></span>
          </div>
        </div>

        <div class="notif-card">
          <h2>Notificaciones</h2>
          <div class="notif-item">
            <i class="bi bi-bell-fill alert-icon"></i>
            <p>
              El camión <strong>‘Camión 5’</strong> se dirige a la ubicación de tu barrio.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
